---
import Container from './Container.astro'
---

<Container>
	<section class='flex justify-center md:max-w-md mx-auto w-[85%]'>
		<a
			href='mailto:gsorozcop@gmail.com?cc=gsorozcop@gmail.com&subject=Informes'
			title='¡Contactanos!'
			class='hover:scale-110 transition-transform duration-300'
			rel="noopener norefferer"
		>
			<img
				alt='Contactanos'
				class='w-full rounded'
				src='src/assets/images/bg/btn-contacto.webp'
				loading='lazy'
				decoding='async'
				fetchpriority='low'
			/>
		</a>
	</section>
</Container>