---
import '~/assets/styles/tailwind.css';

import { I18N_CONFIG } from "~/utils/config";

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from "~/components/CustomStyles.astro"
import ApplyColorMode from "~/components/common/ApplyColorMode.astro"
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification  from "~/components/common/SiteVerification.astro"
import Analytics  from "~/components/common/Analytics.astro"
import BasicScripts from '~/components/common/BasicScripts.astro';
import Whatsaap from '~/components/widgets/Whatsaap.astro';
import Modal from '~/components/widgets/Modal.astro';

import { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N_CONFIG;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">

  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-947270274"></script>
	<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
	
	<script type="text/javascript">
		 window.dataLayer = window.dataLayer || []; 
		 function gtag(){dataLayer.push(arguments);} 
		 gtag('js', new Date());
		 gtag('config', 'AW-947270274'); 

		emailjs.init('4Z1uuF9-3Cymg4roE')
		function gtag_report_conversion(url) {
			console.log(url)
			var callback = function () {
				if (typeof(url) != 'undefined') {
					window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-947270274/BcHSCI2Hm_oYEILl2MMD',
				'value': 1.0,
				'currency': 'USD',
				'event_callback': callback
			});
			return false;
		}
	</script>
  </head>

  <body class="antialiased text-default tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
	<Whatsaap />
	<Modal />
  </body>
</html>
<style>
	@font-face {
		font-family: 'Archivo';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/archivo.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Archivo';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url('/fonts/archivo-semibold.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Archivo Black';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/archivo-black.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/titulo-baner.woff2) format('woff2');
		unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}
	@font-face {
		font-family: 'Mono';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/taurus-mono.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Led';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/led-display.woff2) format('woff2');
	}
	html, body {
		font-family: 'Archivo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
</style>